<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1>Welcome!!!</h1>
    <form action="{{url_for('signup') }}", method="POST">
        <input type="text", name="fname", required="required", placeholder="First Name (eg. David)">
        <input type="text", name="lname", required="required", placeholder="Last Name (eg. Doe)">
        <input type="email", name="email", required="required", placeholder="email@gmail.com">
        <input type="text", name="username", required="required", placeholder="Username (eg. Mr_D)">
        <input type="password", name="password", required="required", placeholder="Password">
        <input type="submit", value="Sign Up">
    </form>
    
</body>
</html>